body{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 80px;
}
p{
    font-size: 1.3rem;
}
section{
    padding: 7rem 0;
}
.navbar{
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    min-height: 100px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
}
.logo-brand{
    min-width: 160px;
    max-width: 180px;
}
.navbar-toggler{ font-size: 40px;}
.navbar-toggler:focus{ outline: none;}


#hero{
    background-image: url('oficinas.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 400px;
    color: white;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}
/*start PORTAFOLIO*/
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}
.portafolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}
.portafolio-details a h2, .portafolio-details a p{
    color: white;

}
.portafolio-details a h2{
    margin-bottom: 0px;
}
a:hover{
    text-decoration: none;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}  
.portafolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/*end PORTAFOLIO*/
/*start utilities*/

.topmargin-xs{margin-top: 1rem;}
.topmargin-sm{margin-top: 2rem;}
.topmargin-lg{margin-top: 3rem;}

.text-dark{color: black;}
.bg-light-grey{background-color: #f5f5f5;}

h5{margin-bottom: 0px;}
.full-width{width: 100%;}
.divider{border-bottom: 2px solid #f5f5f5;}

/*end utilities*/

/*start ABOUT US*/
.member-container{
    position: relative;
    margin: 10px 0;
}
.member-details{
    position: absolute;
    color: white;
    bottom: 0;
    left: 1.2rem;
}
.member-details span{
    font-size: 1rem;
}
.member-details i{
    padding:0 5px;
}
a i{
    font-size: 1.5rem;
    color: white;
}

/*end ABOUT US*/
/*start PRICING*/
.pricing-container{
    margin: 1rem 0;
}
.pricing-container .plans{
    padding: 3.3rem 5rem;
}
.pricing-container .plan-light{
    background-color: white;
    border: 2px solid black;
}

.pricing-container .plan-dark{
    background-color:black;
    border: 2px solid black;
    color: white;
}

.plans h2{
    font-size: 5rem;
    font-weight: 600;

}
.plans span{
    font-size: 1.3rem;
}

.plans ul {
    list-style-type: square;
}
/*end PRICING*/



/*start Testimonials*/ 
 
.carousel{ 
 
    min-height: 15rem; 
    padding: 2.5rem; 
    border-radius: 2px; 
    text-align: center; 
} 
.carousel p{ 
    font-size: 1.6rem; 
    font-weight: 400; 
    color: black; 
} 
.rating i{ 
    color: gold; 
    font-size: 1.6rem; 
} 
.carousel-indicators li{ 
    background-color: black; 
    width: 1rem; 
    height: 1rem; 
    border-radius: 2px; 
    margin: 0 8px; 
} 
.carousel-control-next, .carousel-control-prev{ 
    color: white; 
    opacity: 1; 
    width: 5%; 
} 
.control-button{ 
    background-color:black; 
    opacity: 1; 
    width: 3.1rem; 
    height: 3.1rem; 
    padding:0.6rem; 
    border: 1px solid black; 
    border-radius: 50px; 
    font-size: 1.25rem; 
} 
.testimonial-user{ 
    max-width: 15rem; 
    margin: 0 auto; 
    text-align: left; 
 
} 
.testimonial-user h6{ 
    margin-bottom: 0px; 
} 
.testimonial-user span{ 
    font-size: 1rem; 
} 
.testimonial-user img{ 
    border-radius: 50px; 
    max-width: 50px; 
    text-align: center; 
} 
 
/*end Testimonials*/
/*start Footer*/

#footer{
    padding: 5rem 0;
    text-align: center;
    color: white;
}
#footer a{
    color: white;
}

#footer a:hover{
    color: white;
}
#footer .list-inline .list-inline-item{
    padding: 10px 15px;
}

/*end Footer*/



@media (max-width: 575.98px) { 
    h1{
        font-size: 40px;
        line-height: normal;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}


